<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/admin.css">
    <title>Admin</title>
    <link href="/static/images/sipnalogo.png" rel="icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXh401p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <form action="/api/v1/admin">
        <input type="checkbox" id="inputML" value="ML" name="topic"  >ML
        <input type="checkbox" id="inputIOT" value="IOT" name="topic" >IOT
        <input type="checkbox" id="inputBD" value="Big_Data" name="topic" >Big_Data
        <input type="checkbox" id="inputALL" value="" name="topic"  >All
        <input type="text" name="id" class="search" placeholder="search by id">
        <input type="text" name="email" class="search" placeholder="search by email">
        <input type="text" name="name" class="search" placeholder="search by name">
        <input type="submit">
    </form>



    <div class="container-fluid d-flex justify-content-center">
	<div class="row d-flex justify-content-center">
		<div class="col-md-12 d-flex justify-content-center text-center adminTable">
			<table class="table table-bordered">
				<thead>
                <th>
                    <h4>Name</h4>
                </th>
                <th>
                    <h4>ID</h4>
                </th>
                <th>
                    <h4>Email</h4>
                </th>
                <th>
                    <h4>Topic</h4>
                </th>
                <th>
                    <h4>Gender</h4>
                </th>
                <th>
                    <h4>Mobile Number</h4>
                </th>
                <th>
                    <h4>Submision Mode</h4>
                </th>
                <th>
                    <h4>Designation</h4>
                </th>
                <th>
                    <h4>University</h4>
                </th>
                <th>
                    <h4>Country</h4>
                </th>
                <th>
                    <h4>Paper</h4>
                </th>
                <th>
                    <h4>Recipt check</h4>
                </th>
                <th>
                    <h4>Recipt Download</h4>
                </th>
                <th>
                    <h4>Reject</h4>
                </th>
            </thead>
            {{#each getAll}}
            <tbody>
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.id}}</td>
                <td>{{this.email}}</td>
                <td>{{this.topic}}</td>
                <td>{{this.gender}}</td>
                <td>{{this.Mobile_Number}}</td>
                <td>{{this.submissionMode}}</td>
                <td>{{this.designation}}</td>
                <td>{{this.university}}</td>
                <td>{{this.country}}</td>
                <td>
                    <form action="/api/v1/admin">
                        <button type="submit" name="fileName" value="{{this.fileName}}" class="button"><i class="fa-solid fa-download"></i></button>
                    </form>
                </td>
                <td><input type="checkbox" name="recipt" id="recipt" {{this.recipt}}></td>
                <td>
                    <form action="/api/v1/admin">
                        <button type="submit" name="reciptPath" value="{{this.reciptPath}}" class="button"><i class="fa-solid fa-download"></i></button>
                    </form>
                </td>
                <td>
                    <form action="/api/v1/admin" >
                        <button class="delete" name="Delete" value="{{this.id}}"><i class="fa-solid fa-trash" style="color: #ff0000;"></i></button>
                    </form> 
                </td>
            </tr>
            </tbody>
            {{/each}}
			</table>
		</div>
	</div>
</div>



    <h4>nbHits={{nbHits}}</h4>

    <script>
        const reciptTemp = document.getElementById("recipt")

        window.onload = function () {
            const address = window.location.search
            const parameterList = new URLSearchParams(address)
            const val = parameterList.get('topic')
            console.log(parameterList);
            console.log(val);

            if (val == "IOT" && val == "BD") {
                document.getElementById("inputIOT").checked = true
                document.getElementById("inputBD").checked = true
            }
            else if (val == "IOT" && val == "ML") {
                document.getElementById("inputIOT").checked = true
                document.getElementById("inputML").checked = true
            }
            else if (val == "ML" && val == "BD") {
                document.getElementById("inputBD").checked = true
                document.getElementById("inputML").checked = true
            }
            else if (val == "ML") {
                document.getElementById("inputML").checked = true
            }
            else if (val == "Big_Data") {
                document.getElementById("inputBD").checked = true
            }
            else if (val == "IOT") {
                document.getElementById("inputIOT").checked = true
            }
            else {
                document.getElementById("inputALL").checked = true
            }
        }
    </script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</body>

</html>